.kitty-1 {
  position: absolute;
  z-index: 1;
  top: 275px;
  left: 129px;
}

#kitty-2 {
  position: absolute;
  z-index: 2;
  top: 250px;
  left: 220px;
}

#basket img {
  position: absolute;
  z-index: 5;
  top: 275px;
  left: 300px;
}

#ball + img {
  position: absolute;
  z-index: 4;
  top: 260px;
  left: 455px;
}

img[alt="Kitty 5"] {
  position: absolute;
  z-index: 3;
  top: 217px;
  left: 320px;
}
